<div class="cardContainer">
  <mat-card class="hotel-card">
    <img mat-card-image class="image" src="{{ image }}" alt="Photo of a hotel" />
    <mat-card-header class="header">
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle class="subtitle"
        >{{ area }}, {{ city }}</mat-card-subtitle
      >
      <mat-card-subtitle class="subtitle"
        >{{ category[0] }}, {{ category[1] }},
        {{ category[2] }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="featureContainer">
        <div class="featureDiv">
          <p class="features">Place</p>
          <div class="stars" style="--rating: {{ featureRating.place }};"></div>
          <p class="features">Food</p>
          <div class="stars" style="--rating: {{ featureRating.food }};"></div>
          <p class="features">Service</p>
          <div
            class="stars"
            style="--rating: {{ featureRating.service }};"
          ></div>
        </div>
        <div class="featureDiv">
          <p class="features">Staff</p>
          <div class="stars" style="--rating: {{ featureRating.staff }};"></div>
          <p class="features">Breakfast</p>
          <div
            class="stars"
            style="--rating: {{ featureRating.breakfast }};"
          ></div>
        </div>
      </div>

      <div>
        <div class="row">
          <div>
            <div class="side">
              <div>5 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-5" [style.width]="five + '%'"></div>
              </div>
            </div>
            <div class="side right">
              <div>{{ rating[1].votes }}</div>
            </div>
          </div>
          <div class="side">
            <div>4 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-4" [style.width]="four + '%'"></div>
            </div>
          </div>
          <div class="side right">
            <div>{{ this.rating[0].votes }}</div>
          </div>
          <div class="side">
            <div>3 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-3" [style.width]="three + '%'"></div>
            </div>
          </div>
          <div class="side right">
            <div>{{ rating[3].votes }}</div>
          </div>
          <div class="side">
            <div>2 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-2" [style.width]="two + '%'"></div>
            </div>
          </div>
          <div class="side right">
            <div>{{ rating[2].votes }}</div>
          </div>
          <div class="side">
            <div>1 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-1" [style.width]="one + '%'"></div>
            </div>
          </div>
          <div class="side right">
            <div>{{ rating[4].votes }}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
